.waterList {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 24px;
  display: flex;
  gap: 8px;
  padding-left: 0;
  height: 106px;
}
.waterList::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  transition: all ease 0.3s;
}
.waterList::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
.waterList::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 5px;
}
.waterList::-webkit-scrollbar-thumb:hover {
  background-color: #454f56;
}
