.progressBarContainer {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 120px;
  border-radius: 15px;
  padding: 12px;
  width: 198px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 8px;
  font-family: 'Poppins', 'sans-serif';
}

.progressBarTrack {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #f0eff4; /* Фонова шкала */
  border-radius: 9px;
}

.progressBarFill {
  height: 100%;
  background-color: #6fcf97; /* Зелений колір заповнення */
  transition: width 0.3s ease-in-out;
  border-radius: 9px;
}

.progressMarker {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #6fcf97; /* Зелений обвід */
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.labels {
  display: flex;
  font-family: 'Poppins', 'sans-serif';
  justify-content: space-between;
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: rgba(47, 47, 47, 0.6);
}

@media screen and (min-width: 768px) {
  .progressBarContainer {
    bottom: 150px;
    padding: 20px;
    width: 295px;
    height: 106px;
  }

  .subtitle {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 6px;
  }

  .progressBarTrack {
    height: 8px;
  }

  .labels {
    margin-top: 6px;
    font-size: 12px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .progressBarContainer {
    bottom: 180px;
  }
}
