.addWaterBtn {
  position: absolute;
  z-index: 2;
  right: 16px;
  bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  border: none;
  background-color: #323f47;
  cursor: pointer;
  font-family: 'Poppins' sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  border-radius: 30px;
  padding: 14px 0;
  width: 120px;
  height: 46px;
}
.addWaterBtn:focus .addWaterBtn:hover {
  color: #45a049;
}

@media screen and (min-width: 375px) {
  .addWaterBtn {
    width: 140px;
  }
}

@media screen and (min-width: 768px) {
  .addWaterBtn {
    right: 32px;
    bottom: 64px;
    font-size: 16px;
    line-height: 24px;
    padding: 18px 0;
    width: 178px;
    height: 60px;
  }
}
